<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="offerApplication">
            <h2><span>Offer Application</span> {{offerApplication.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Full Name</span></dt>
                <dd>
                    <span>{{offerApplication.fullName}}</span>
                </dd>
                <dt><span>Gender</span></dt>
                <dd>
                    <span>{{offerApplication.gender}}</span>
                </dd>
                <dt><span>Age</span></dt>
                <dd>
                    <span>{{offerApplication.age}}</span>
                </dd>
                <dt><span>Address</span></dt>
                <dd>
                    <span>{{offerApplication.address}}</span>
                </dd>
                <dt><span>Phone Number</span></dt>
                <dd>
                    <span>{{offerApplication.phoneNumber}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{offerApplication.email}}</span>
                </dd>
                <dt><span>Offer</span></dt>
                <dd>
                    <div *ngIf="offerApplication.offer">
                        <a [routerLink]="['/offer', offerApplication.offer?.id, 'view']">{{offerApplication.offer?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/offer-application', offerApplication.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
