<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="city">
            <h2><span>City</span> {{city.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{city.name}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{city.description}}</span>
                </dd>
                <dt><span>Image</span></dt>
                <dd>
                    <div *ngIf="city.image">
                        <a (click)="openFile(city.imageContentType!, city.image)">
                            <img [src]="'data:' + city.imageContentType + ';base64,' + city.image" style="max-width: 100%;" alt="city image"/>
                        </a>
                        {{city.imageContentType}}, {{byteSize(city.image)}}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/city', city.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
